<IfModule mod_headers.c>
  <Files "index.html">
    Header set Cache-Control "no-cache, max-age=0, must-revalidate"
  </Files>

  <Files "flutter_service_worker.js">
    Header set Cache-Control "no-cache, max-age=0, must-revalidate"
  </Files>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Don't rewrite files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite everything else to index.html for SPA routing
  RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>
